/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log

# Ignore rvm configuration
.ruby-version
.ruby-gemset

# Ignore stored credentials
config/credentials.yml
